<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<title> 서울진학상담프로그램 챗봇 | SenjinhakBot</title>
  <head>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="SenjinhakBot"
  agent-id="b82e9c64-7aca-4882-9296-d9c6ebd42cd9"
  language-code="ko"
></df-messenger>
      
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
        <img src="https://ipsi.jinhak.or.kr/images/jinhak/common/selectImageView2.png" alt="Logo">
        <br>
        <br>
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      <section>
<h3><span style="color: #000080;"><strong>서울교육청 진학상담프로그램 사용을 돕는 <span style="background-color: #ffff99;">쎈진학봇(SenjinhakBot)</span>입니다</strong></span></h3>
<p><span style="color: #000080;">서울교육청교육연구정보원에서는 학생, 학부모님께 실질적인 도움을 드리기 위해 <span style="text-decoration: underline;">온라인 진학상담프로그램(<a style="color: #000080; text-decoration: underline;" href="http://omrscan.iptime.org:9280/index.do">ipsi.jinhak.or.kr</a>)</span>을 개발 운영하고 있습니다.</span></p>
<p><span style="color: #000080;">프로그램 사용 시 문의 또는 진학 상담이 필요하신 경우 <span style="background-color: #ffcc99;">오른쪽 하단</span>의 <span style="background-color: #ffff99;">쎈진학봇</span>의 도움을 받으세요.</span></p>
<p><span style="color: #000080;">쎈진학봇(SenjinhakBot) 사용방법</span><br /><span style="color: #000080;">- 메뉴이름 입력 시 해당 메뉴 기능을 확인할 수 있습니다.</span><br /><span style="color: #000080;">- 궁금하신 진학용어를 입력하시면 관련 설명을 보실 수 있습니다.</span><br /><span style="color: #000080;">- '추가문의' 입력 시 처음으로 돌아갑니다.</span></p>
<p><span style="color: #000080;">* 기능개선 제안 및 관련 문의 : paichai1885@korea.kr (쎈진학 프로그램 개발팀🤗)</span></p>
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
